{% macro table_row(name, id) -%}
    <td><span class="fa fa-spinner circle-o-notch fa-2x fa-{{id}}" aria-hidden="true"></span></td>
    <td class="text-right"><big>{{name}}</big></td>
    <td><input type="text" class="form-control input-sm" id="{{id}}" disabled></td>
{%- endmacro %}
{% macro tooltip(title) -%}
    <td>{% if title %}<button type="button" class="btn btn-info btn-sm btn-{{id}}" data-html="true" data-toggle="tooltip" data-placement="right" title="{{title|safe}}"><b>?</b></button>{% endif %}</td>
{%- endmacro %}
<html>
    <head>
        <title>Get your own matraz badge!</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" media="all" />
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
        <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="https://cdn.lukej.me/socket.io-client/0.9.16/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename='form.js') }}"></script>
    </head>
    <body>

            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="centering">
                            <div class="row-fluid">
                                <div class="col-lg-12">
                                    <h2 class="text-center">Get a badge for: <a href="http://www.github.com/{{owner}}/{{repo}}" target="_blank">{{owner}}/{{repo}}</a></h2>

                                    <br/>
                                    <div class="well">
                                        <h4>Copy here your Zenodo token:</h4>
                                        <div class="input-group">
                                            <input type="text" class="form-control input-sm" id="zenodo_token">
                                            <span class="input-group-btn">
                                            <button type="button" class="btn btn-sm btn-success submit">Submit</button>
                                            </span>
                                        </div>
                                        <br/>
                                        If you don't know what a token is or don't have a token yet, create a new one <a href="https://zenodo.org/account/settings/applications/tokens/new/" target="_blank"> here</a>
                                    </div>


                                    <table class="table table-responsive borderless">
                                       <tbody>
                                            <tr>
                                              {{table_row("DOI: ", "doi")}}
                                              <td></td>
                                            </tr>
                                            <tr>
                                              <td></td><td></td>
                                              <td>
                                                <div class="tiny">If your code doesn't have a DOI, check <a href="https://guides.github.com/activities/citable-code/" target="_blank">https://guides.github.com/activities/citable-code/</a></div>
                                              </td>
                                              <td></td>
                                            </tr>
                                            <tr>
                                              {{table_row("License: ", "license")}}
                                              <td></td>
                                            </tr>
                                            <tr>
                                              <td></td><td></td>
                                              <td>
                                                <div class="tiny">If the license was not autodiscovered, check <a href="http://www.addalicense.com" target="_blank">http://www.addalicense.com</a></div>
                                              </td>
                                              <td></td>
                                            </tr>
                                            <tr>
                                              {{table_row("Documentation: ", "docs")}}
                                              <td></td>
                                            </tr>
                                            <tr>
                                              {{table_row("Contact info: ", "contact")}}
                                              {{tooltip("If the repository belongs to an organization, the contact information will be a link to the repository's Github issues page. If you can't see any contact information here and you are the owner of the repository, please enable issues.")}}
                                       </tbody>
                                    </table>

                                    <button type="button" class="btn btn-lg btn-success center-block">Refresh</button>

                                    <br/>

                                    <p><big>Your badge will be stored here:</big></p>
                                    <div class="well">
                                        <a href="{{ request.url }}/badge.svn">{{ request.url }}/badge.svn</a>
                                    </div>

                                    <p/>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              
    </body>
</html>